{% extends 'take_care_app/base.html' %}

{% block content %}

<div id="map"></div>

<script type="text/javascript">
var map = L.map('map').setView([51.505, -0.09], 13);

L.tileLayer('http://{s}.tiles.mapbox.com/v3/MapID/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18
}).addTo(map);
</script>

    {% for kita in kitas %}
        <div class="kita">
            <h1><a href="{% url 'take_care_app.views.kita_detail' pk=kita.pk %}">{{ kita.kita_name }}</a></h1>
            <p>lat: {{ kita.lat }}</p>
            <p>lon: {{ kita.lon }}</p>
        </div>
    {% endfor %}
{% endblock content %}
